/* ================================= 
  Base Element Styles
==================================== */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Mallanna', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    background: #e6d9d9;
    color: #05072F;
    background-image: radial-gradient(circle at top, #FBFCFB, #1E4731);
    font-size: 21px;
}


header {
    width: 100%;
    /* background-image: linear-gradient(270deg,rgb(222, 185, 188) 0%, #be737a 60%, rgb(77, 0, 19) 100%); */
    background-image: linear-gradient(270deg,#0C2340 0%, #1e2048 100%);

    color: #f6edee;
    /* opacity: 0.9; */
    /* opacity: 0.9; */
    /* display: flex; */
    /* flex-direction: column; */
}

footer {
    width: 100%;
    background-image: linear-gradient(270deg,#1e2048 0%, #0C2340 100%);
    color: #eedcdd;
}



/* ================================= 
  Navigation
==================================== */

.main-header {
    border-bottom: 4.5px solid #052517;
    margin-bottom: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    padding: 0 10px;

}

.main-footer {
    border-top: 4.5px solid #052517;
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    padding: 5px 0px 20px 0px;

}

.mission,
/* .main-nav, */
/* .main-nav-footer  */
.nonprofit-footer {
    display: flex;
    flex-grow: 2;
    /* display: block;
    margin: auto; */
}

.nonprofit-footer p {
    padding-right: 15px;
}

.mission p {
    padding-bottom: 25px;
    font-size: 1.3em;
    text-align: center;
    margin: auto;
}

.mission-flex {
    max-width: 30%;
    display: flex;
    flex-direction: column;
    order: 0;
    /* padding-left: 4px; */
    /* background-image: radial-gradient( circle at top, #d2fff4, #deb9bc); */
    /* border: 1px solid #004d3a; */
    /* border-radius: 6px;
    margin: 5px;
    padding: 5px 10px 5px 20px; */
}

.fb-img {
  width: 30px;
  margin: auto;
}

/* .nonprofit-footer p {
    display: flex;
    padding-bottom: 25px;
    font-size: 1.1em;
    text-align: center;
} */

.name,
.name-footer {
    margin: 20px;
    flex-grow: 2;
    /* max-width: 60%; */
    max-width: 500px;
    overflow: hidden;
}

.main-nav {
    margin-bottom: 12px;
}

.main-nav-footer {
    margin-top: 8px;
}

.email a {
    color: black;
}

/* .main-nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
} */

.upper-nav,
.lower-nav {
    display: flex;
    justify-content: center;
    margin: 10px;
    /* margin: auto; */
}

.upper-nav ul,
.lower-nav ul {
    display: flex;
    justify-content: space-around;
}



.upper-nav li,
.lower-nav li,
.main-nav-footer li {
    list-style-type: none;
    text-decoration: none;
    /* justify-content: center; */
    /* align-self: center;
    display: flex;
    flex-grow: 1;
    flex-wrap: wrap; */
    font-size: 1em;
    line-height: 1em;
    padding: 10px;
}


/* .name a,
.main-nav a {
    padding: 5px 10px;
    display: block;
    text-decoration: none;

} */


.main-nav a,
.main-nav-footer a {
    background: #1E4731;
    color: #e6d9d9;
    text-decoration: none;
    /* display: inline-block; */
    padding: 1px 10px;
    margin-top: 5px;
    /* flex-wrap: wrap; */
    /* margin: 5px;
    padding-left: 5px;
    padding-right: 5px;
    font-size: 1.5em;  */
    border-radius: 4px;
    /* min-width: 243px; */
}

.main-nav a:hover,
.main-nav-footer a:hover {
    background: #d2fff4;
    color: #004d3a;
}

/* ================================= 
  ato main page
==================================== */

.wrapper {
    width: 100%;
    /* max-width: 960px; */
    margin: 0 auto;
}

/* .mission {
    font-size: 1.2em;
    line-height: 1.2em;
    display: flex;
    flex-direction: column;
    align-items: center;
} */


h2 {
    padding-top: 15px;
    padding-bottom: 15px;
}


/* 
.main-flex {
    border-width: 8px;
    border-style: solid;
    border-color: orange;
} */

.wrapper2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 2.5px solid #452024; */
    /* border-radius: 4px; */
    margin: 5px 5px 25px 5px;
    /* margin-bottom: 10px; */
}

.logistics,
.kerikay {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 2.5px solid #452024;
    border-radius: 4px; */
    margin: 5px;
}

.kerikay {
    margin-top: 15px;
}

.logistics {
    margin-top: 40px;
}

.why {
    background-image: radial-gradient( circle at top, #FBFCFB, #38614B);
    border-radius: 6px;
    padding: 5px 10px;
}

/* .why,
.kerikay-words {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    flex-grow: 2;
} */

.kerikay-words {
    margin-bottom: 25px;
    padding: 10px;
}

.why h3,
.kerikay-words h3 {
    margin: auto;
    text-align: center;
}
/* 
.kerikay {
    display: flex;
    flex-direction: column;
} */

/* .logistics {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    flex-basis: 0;
    justify-content: space-between;
    
} */

.how,
.process {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* padding-left: 4px; */
    background-image: radial-gradient( circle at top, #FBFCFB, #38614B);
    /* border: 1px solid #004d3a; */
    border-radius: 6px;
    margin: 5px;
    padding: 5px 10px;
}

.explore,
.explore ul {
 display: flex;
 flex-direction: column;
 margin: auto;
 list-style-type: none;
}

 .explore a {
 text-decoration: none;
 color: #05072F;
 font-weight: bolder;
}

.sublist_li {
    list-style-type: none;
}

.sublist {
    margin-left: 20px;
}

/* .kerikay-words p,
.patrick-words p,
.jahnene-words p {
    padding: 5px 10px;
} */

/* .why :hover, */
.kerikay-words :hover,
/* .how :hover, */
/* .process :hover, */
.patrick-words :hover,
.jahnene-words :hover {
    background: #fffaec;
    border-radius: 6px;
    /* border: 3px solid #452024; */

}



.how h3,
.process h3 {
    margin: 0 auto;
}

.how ul,
.process ul {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    padding: 2px;

}

/* ================================= 
  sponsors page
==================================== */

.patrick,
.jahnene,
.sponsors-with-pic {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 1px solid #452024;
    border-radius: 4px; */
    margin: 5px 5px 15px 5px;
}

.sponsors-with-pic {
    align-items: flex-start;
}

/* .patrick-words,
.jahnene-words,
.sponsors-role {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    flex-grow: 2;
    } */

.patrick-words h3,
.jahnene-words h3,
.sponsors-how h2 {
    margin: auto;
    text-align: center;
}

/* 
.network p {
    text-align: right;
} */

/* .network {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2.5px solid #452024;
} */


.sponsors-how {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 2.5px solid #452024;
    border-radius: 4px; */
    margin: 5px;
}


.sponsors-role {
    background-image: radial-gradient( circle at top, #d2fff4, #deb9bc);
    border-radius: 6px;
    padding: 5px 10px;
    margin-right: 15px;
}

.identify-sponsors,
.network {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 6px;
    background-image: radial-gradient( circle at top, #d2fff4, #deb9bc);
    /* border: 1px solid #452024; */
    border-radius: 6px;
    margin: 5px;
    padding: 5px 10px;
}

.identify-sponsors p,
.network h2 {
    padding-bottom: 15px;
}

.identify-sponsors ul,
.sponsors-role ul {
    list-style-position: inside;
}

.sponsors-role {
    display: flex;
    flex-direction: column;
    /* flex-basis: 0; */
    align-items: center;
    padding: 10px;
    /* border: 2.5px solid #452024;
    border-radius: 4px; */
    margin-bottom: 10px;
    margin-top: 15px;
}

.sponsor-bios {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    align-items: center;
    /* border: 2.5px solid #452024;
    border-radius: 4px; */
}


/* ================================= 
  achievers page
==================================== */

.def {
    text-align: center;
    padding-top: 15px;
    font-family:  'Merienda One', cursive;
    color: #004d3a;
    margin-bottom: 35px;
    font-size: 1.5em;
    /* max-width: 100%; */
}

.sponsor-bios h1 {
    margin-bottom: 15px;
}

.content {
    perspective: 700px;
}

/* .achievement, */
.path-app,
.path-network,
.path-support,
.responsibilities-achiever,
.pay-it-forward {
    display: flex;
    flex-direction: column;
    /* flex-basis: 0; */
    align-items: center;
    padding: 10px;

}

.achievement,
.achiever {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 2.5px solid #452024;
    border-radius: 4px; */
    margin: 5px;
}

.path-app-supp,
.ach {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: center;
    justify-content: center;
    padding: 10px;
    /* border: 2.5px solid #452024; */
    /* border-radius: 4px; */
    margin: 5px;
}

.path-app,
.path-network,
.path-support,
.responsibilities-achiever,
.pay-it-forward {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 6px;
        background-image: radial-gradient( circle at top, #d2fff4, #deb9bc);
        /* border: 1px solid #452024; */
        border-radius: 6px;
        margin: 5px;
        padding: 5px 10px;
    }

.path-app,
.path-support {
    transition: 1s ease-out;
    transform-style: preserve-3d;
}

.path-app:hover,
.path-support:hover {
    transform: rotateY(-180deg);
}

.side-b {
    z-index: 100;
    transform: rotateY(180deg);
}

.side-a,
.side-b {
    backface-visibility: hidden;
}



.achiever h2 {
    text-align: center;
}

.path-app ul,
.path-support ul,
.responsibilities-achiever ul {
    display: flex;
    flex-direction: column;
    list-style-position: inside;
    padding: 2px;

}

.path-network p {
    padding: 2px 25px;
}

/* ================================= 
  orgs page
==================================== */

.wrapper3 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: space-between; */
    align-items: stretch;
    justify-content: center;
    padding: 10px;
    /* border: 2.5px solid #452024; */
    /* border-radius: 4px; */
    margin: 5px;
    /* margin-bottom: 10px; */
}

.wrapper3 a {
    text-decoration: none;
}

.orgs-we-support h1 {
    text-align: center;
}

.org-flex {
    /* max-width: 75%; */
    display: flex;
    flex-direction: column;
    /* padding-left: 4px; */
    background-image: radial-gradient( circle at top, #d2fff4, #deb9bc);
    /* border: 1px solid #004d3a; */
    border-radius: 6px;
    margin: 5px;
    padding: 5px 10px 5px 20px;
}

.placeholder-org-flex {
    visibility: hidden;
    width: 0px;
    height: 0px;
}

.org-link {
    padding-bottom: 25px;
}

.org-link a,
.fbb-link a {
    color: #662c33;
    text-decoration: none;
}

.org-link a:hover,
.fbb-link a:hover {
    background: #4d0013;
    border-radius: 6px;
    color: #fffaec;
}

.fbb-link {
    padding-bottom: 30px;
}

.orgs-main {
    display: flex;
    flex-direction: column;
    flex-basis: 0;
    align-items: center;
    padding: 10px;
    /* border: 1.5px solid #452024;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-top: 15px; */
} 

.org-flex h3 {
    text-align: center;
    margin-bottom: 7px;
}

.org-flex p {
    margin-bottom: 7px;
}

.orgs-main p {
    padding-bottom: 15px;
}

.org-flex ul {
    list-style-position: inside;
}

.org-flex h3 {
    text-align: left;
    margin-top: 15px;
}

.org-flex h5 {
    margin-top: 15px;
    margin-bottom: 8px;
}

.org-flex h4 {
    text-align: center;
    margin-bottom: 5px;
}

.donate {
    border: 7px dashed #244520;
    color: #202445;
    background: RGB(219, 219, 228);
    border-radius: 4px;
    margin: 7px;
    padding: 3px;
}

.donate h3 {
    text-align: center;
}



/* ================================= 
  Images
==================================== */

.caption-placeholder,
.placeholder-text {
    color: rgb(148, 114, 181);
}

figcaption {
    border-radius: 2px;
    transition-duration: 1s, 3s;
    transition-property: background, border-radius, color;
    transition-timing-function: ease-in;
}


.ron-ched,
.img-flex,
.kerikay-pic,
.kerikay-img,
.patrick-pic,
.patrick-img,
.jahnene-pic,
.jahnene-img,
.yuniek-pic,
.yuniek-img,
.kids-with-certs-img {
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    /* transition: transform .8s; */
    /* perspective: 700px; */
    /* justify-items: center; */
}

.kerikay-pic-a {
    display: flex;
    flex-direction: column;
}

/* .kerikay-pic {
 margin-left: 2px;
} */

/* img {
    transition: transform .8s;
}

img :hover {
    transform: scale(30, 30);
} */

.caption {
    text-align: center;
}


figcaption:hover {
    background: #4d0013;
    border-radius: 6px;
    color: #fffaec;
}
/* 
.img-flex {
    flex-grow: 1;
} */

.main-img,
.kerikay-img,
.patrick-img,
.jahnene-img,
.yuniek-img,
.kids-with-certs-img,
.org-img,
.donate {
    /* display: block; */
    /* margin-left: auto;
    margin-right: auto; */
    max-width: 95%;
    /* width: 400px;
    height: 272px; */
    flex-grow: 1;
    border-radius: 4px;
    justify-content: center;
    align-content: center;
    overflow: hidden;
    /* align-items: center; */
}

.patrick-pic,
.yuniek-pic {
    order: -1;
}

.org-img-dock {
    float: left;
    margin-left: 15px;
    margin-right: 25px;
    border-radius: 4px;
    max-width: 95%;
}

q,
blockquote {
    text-align: center;
    padding: 15px 10px 0px;
    font-family:  'Merienda One', cursive;
    color: #004d3a;
    margin: 0 auto 25px;
    font-size: 1.15em;
}

/* ================================= 
  Media Queries
==================================== */

/* @media (min-width: 768px) {
    .mission {
        order: -1;
    }
} */

@media (min-width: 1081px) {

    /* div {
        font-size: 1em;
    } */

    /* .mission,
    .nonprofit-footer {
        max-width: 35%;
    } */

    .main-footer {
        padding: 0px 0px 20px 0px;
    }
    /* .nonprofit-footer {
        order: 1;
    } */

/* 
    .main-header {
        flex-direction: column;
        align-items: center;
    }
 */
    
    /* .main-nav {
       align-items: center;
    } */
    
.nav-768,
.nav-768-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.main-nav-footer-768 {
    /* order: -1; */
    flex-grow: 2;
}

.name-footer,
.nonprofit-footer {
    flex-grow: 1;
}

   .main-nav,
   .main-nav-footer {
       justify-content: center;
   }
   
    /* .main-nav li,
    .main-nav-footer li {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        margin: auto;
    } */


    /* h1 {
      margin-left: 10px;
    } */

    .img-flex {
        max-width: 40%;
    }

    .ron-ched,
    .img-flex {
        margin: 1px;
    }

    .why,
.kerikay-words {
    display: flex;
    flex-direction: column;
    max-width: 55%;
    flex-grow: 2;
}
    
    /* .why p {
        text-align: right;
    } */

    /* .kerikay-header {
        text-align: center;
    } */

    .kerikay {
        flex-direction: row;
        /* justify-content: space-evenly; */

    }

    .kerikay-words,
    .patrick-words {
        margin-right: 20px;
    }

    .jahnene-words {
        margin-left: 20px;
    }

    /* .kerikay-words {
        max-width: 59%;
    } */

    .kerikay p {
        text-align: left;
    }

    /* .placeholder-kerikay {
        width: 5%;
    } */

    .kerikay-words p,
    .patrick-words p,
    .jahnene-words p {
        padding: 5px 10px;
    }



    .patrick-words,
    .jahnene-words,
    .sponsors-role {
        display: flex;
        flex-direction: column;
        max-width: 55%;
        flex-grow: 2;
    }

    .patrick-pic,
    .yuniek-pic,
    .kerikay-pic {
        order: 1;
        flex-grow: 1;
        max-width: 40%;
    }

    .sponsors-role {
        flex-basis: 0;
    }

    .kids-with-certs-img {
        margin-left: 15px;
    }

    .jahnene-pic,
    .yuniek-pic {
        max-width: 40%;
    }

    .placeholder-log,
    .placeholder-path {
        width: 5%;
        border: none;
    }

    .how,
    .process,
    .identify-sponsors,
    .network,
    .path-app,
    .path-support,
    .responsibilities-achiever,
    .pay-it-forward {
        width: 45%;
    }

    /* .identify-sponsors. */
    .orgs-main {
        display: block;
        width: 70%;
        float: left;
        text-align: left;      
    }

    /* .network {
        display: block;
        width: 70%;
        float: right;
        text-align: right;
        padding-right: 15px;
        padding-left: 10px;  
        margin-bottom: 15px;   
    } */

    /* .sponsors-role {
        display: flex;
        width: 100%;
        text-align: center;      
    } */
/* 
    .placeholder-sponsors {
        display: flex;
        flex-direction: column;
        width: 15%;
    } */

    /* .sponsor-bios {
        padding-left: 5px;
        padding-right: 10px;
    }


    .patrick {
        text-align: right;
    } */

    .path-network {
        order: 1;
        /* flex: 3; */
    }
/* 
    
    .placeholder-path {
        width: 15%;
        border: none; */
    

    /* .achievement {
        border: 2.5px solid #452024;
        border-radius: 4px;
        margin-bottom: 10px; */
        /* justify-content: space-evenly; */
    /* } */


    .achiever {
        /* flex-direction: row; */
        /* border: 2.5px solid #452024;
        border-radius: 4px; */
        margin-bottom: 10px;
        
    }
/* 
    .responsibilities-achiever {
        margin: auto;
        width: 40%;
        margin-bottom: 15px;
    }

    .pay-it-forward {
        margin: 10px;
    } */


    /* .achievement  */
    .path-app,
    .path-support,
    .responsibilities-achiever,
    .pay-it-forward {
        width: 40%
    }

    /* .path-app-supp {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap; */
        /* margin: auto; */
    


    .afieni,
    .ched-achiever,
    .yusef,
    .kerikay-achiever {
        flex-wrap: wrap;
        padding: 5px;
        margin: 5px;
        width: 22%;
        /* justify-content: center; */
    }


    /* .path-network {
        display: block;
    } */
/* 
    .path-support,
    .path-app {
        width: 45%;
    } */

    .org-flex {
        max-width: 45%;
        margin-left: 10px;
        margin-right: 10px;
    }

    
.placeholder-org-flex {
    visibility: visible;
    /* width: 5%; */
}

}


/* @media  (min-width: 1024px) { */

@media  (min-width: 1200px) {

    .mission {
        order: -1;
    }


    .main-header,
    .main-footer {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }

    .mission,
    .nonprofit-footer {
        width: 20%;
    }
    
    .name,
    .name-footer {
        margin-left: 5px;
    }



    /* .main-nav a {
        margin-left: 5px;
    }

    .main-nav-footer a {
        margin-right: 5px;
    } */

    .why {
        max-width: 70%;
        margin: auto;
    }
    
    .wrapper2,
    .ron-ched {
        flex-direction: row;
        align-items: center;
        justify-content: center;
        flex-wrap: nowrap;
    }

    /* .wrapper2 {
        margin: 0 5px;
    } */

    .img-flex {
        max-width: 90%;
    }


    .caption-main {
        order: -1;
        margin-right: 15px;
        /* padding-right: 20px; */
    }

    .float {
        display: block;
        overflow: hidden;
    }

    .org-img {
        float: left;
        margin-right:12px;
    }
/* 
    .donate {
        align-items: flex-end;
        max-height: 200px;
    } */
 
}


/* ---- Float clearfix ---- */

.clearfix::after {
    content: " ";
    display: table;
    clear: both;
}