
// $color-header: background-image: linear-gradient(270deg, #9e9e9e 0%, #1e2048 100%);
$color-fr: #1E4731;
$color-fr2: #FBFCFB;
$color-parenting: #9299AC;
$color-parenting2: #C3CDE6;
$color-accent: #FBFCFB;
$color-shade: white;

$color-nav-hover: #48461E;

// $deepblue: #0c0523;
// $deeppurple: #291749;
$sugideeppurple: #2e1e43;
$sugilightpurple: #785881;
$sugiblack: black;
$sugilavendar: #ba96ba;
$sugired: #4d0b00;

$placeholdercolor: #c0fc51; 

$red: red;

.why-primary {
  color: $red;
}

$color-header-text: #f6edee;
$color-text: #05072F;

$color-link: #c0fc51;

$color-hover: rgb(207, 34, 34);

$color-theme: #927bc1;

$color-headline-primary: #58e1c1;


$lg: 768px;

$break: 768px;

$theme-color: (
  $color-theme,
  #fd7856,
  #deb2ee,
  #7ee6fd,
  #88d9a0,
  #4da2bb,
  #ec9fa3,
  #fd9f85,
  #e4757a,
  #63cc82,
  #51ddfc,
  #80e8d1,
);


$btn-color: (
  'default': $color-link,
  'error': #e4757a,
  'info': $color-theme,
  'success': #63cc82,
  'warning': #fd7856,
);