* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.fr {
    font-family: 'Mallanna', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    background: $sugilightpurple;
    color: $sugideeppurple;
    background-image: radial-gradient(circle at right, $sugiblack 0%, $sugideeppurple 70%, $sugilightpurple 100%);
    font-size: 21px;
    // @include body;
}


header {
    width: 100%;
    /* background-image: linear-gradient(270deg,rgb(222, 185, 188) 0%, #be737a 60%, rgb(77, 0, 19) 100%); */
    background-image: linear-gradient(270deg,$sugiblack 0%, $sugilightpurple 60%, $sugideeppurple 100%);
    color: #f6edee;
    /* opacity: 0.9; */
    /* opacity: 0.9; */
    // display: flex;
    // flex-direction: column;
}

footer {
    width: 100%;
    background-image: linear-gradient(270deg,$sugideeppurple 0%, $sugilightpurple 60%, $sugiblack 100%);
    color: #eedcdd;
}

.main-header {
    border-bottom: 4.5px solid $sugired;
    margin-bottom: 15px;
    padding: 0 10px;
    @include headfoot;

}

.main-footer {
    border-top: 4.5px solid $sugired;
    margin-top: 15px;
    padding: 5px 0px 20px 0px;
    @include headfoot;
}

.mission {
    color: $sugired;
    display: flex;
    flex-grow: 2;
    font-size: 3.5em;
    justify-content: center;

    p {
        text-align: center;

    }
}

.logo {
    // margin-left: 5px; @media 1200px
    margin: 20px;
    flex-grow: 2;
    /* max-width: 60%; */
    max-width: 200px;
    overflow: hidden;

}
